.form__input {
   height: 50px;
   padding: 0 20px;
}

.form-requirements > li {
   padding: 0 10px;
   list-style: disc;
}

.display-none {
   display: none;
}

.required-symbol {
   color: red;
}

/* ------------------------------------------------------- */
/* Submit button */

.submit-btn {
   margin-top: 40px;
   width: 240px;
   height: 60px;
   background-color: var(--yellow-color);
   color: var(--black-color);
   margin: 40px auto 0 auto;
   cursor: pointer;
   font-size: var(--font-p3);
}

.submit-btn:hover {
   background-color: var(--black-color);
   color: var(--yellow-color);
}

.submit-btn--disabled {
   pointer-events: none;
   background-color: gray;
   color: white;
}

.notValidMessage {
   color: darkred;
}

@media (min-width: 770px) {
   .form-wrapper {
      justify-content: space-between;
   }

   .form__input {
      width: 350px;
   }
}
