/* container components */

.content-container {
   min-width: 300px;
   max-width: 1310px;
   margin: auto;
}

/* ------------------------------------------------------- */
/* Header */

.header {
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.37);
}

.header-content,
.footer-content {
   display: flex;
   justify-content: space-between;
   height: 100px;
}

.header-logo {
   display: block;
   min-width: 150px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--black-color);
   cursor: pointer;
}

.header-nav {
   position: absolute;
   width: 100%;
   top: 100px;
   padding: 20px 40px;
   background-color: var(--black-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 400px;
}

.header-nav__item {
   margin: 10px 0;
}

.header-nav__link {
   color: var(--white-color);
   font-size: var(--font-p2);
}

.header-nav__link:hover,
.header-nav__link--active {
   box-shadow: 0 5px 0;
}

.header-menu-btn {
   width: 100px;
   background-color: var(--black-color);
   cursor: pointer;
}

.close-menu-btn {
   width: 50px;
   height: 50px;
   outline: 2px solid var(--white-color);
   background-color: var(--black-color);
   margin: 20px 0;
   transition: 0.03s ease-in;
   cursor: pointer;
   align-self: end;
}

.close-menu-btn:hover {
   background-color: var(--white-color);
}

.close-menu-btn:focus {
   outline: 3px dotted var(--white-color);
}

.close-menu-btn:focus > * {
   color: var(--white-color);
}

.close-menu-btn > *,
.header-menu-btn > * {
   color: var(--white-color);
   font-size: var(--font-p3);
}

.close-menu-btn:hover > * {
   color: var(--black-color);
}

.hide-class {
   display: none;
}

/* ------------------------------------------------------- */
/* Footer */

.footer {
   height: 390px;
   background-color: var(--black-color);
}

.footer-content,
.social-media__icon,
.footer-copywrite {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-content {
   width: 300px;
   height: 100%;
}

.social-media {
   width: 120px;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.social-media__title {
   color: var(--white-color);
}

.social-media__wrapper {
   display: flex;
   justify-content: space-between;
}

.social-media__icon {
   width: 50px;
   height: 50px;
   background-color: var(--white-color);
   color: var(--black-color);
}

.footer-copywrite {
   height: 50px;
   background-color: var(--black-color);
   color: var(--white-color);
   border-top: 2px solid rgb(255, 255, 255, 0.7);
}
/* ------------------------------------------------------- */
/* diamond icon */

.diamond-icon-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.diamond-icon {
   position: absolute;
   top: -40px;
   width: 80px;
   height: 80px;
   transform: rotate(45deg);
   background-color: var(--black-color);
   display: flex;
   justify-content: center;
   align-items: center;
}

.diamond-icon__symbol {
   transform: rotate(-45deg);
   font-size: var(--font-p3);
   color: var(--yellow-color);
   margin-left: 1.8px;
}

/* ------------------------------------------------------- */
/* Breadcrumb */

.breadcrumb {
   background-color: var(--black-color);
   color: var(--white-color);
   padding: 10px;
}

.breadcrumb__link {
   color: var(--white-color);
   text-decoration: underline;
}

.breadcrumb__link:hover {
   color: var(--yellow-color);
}

/* API feedback Message */

.loader {
   text-align: center;
}

.error {
   min-width: 300px;
   background-color: lightcoral;
   padding: 20px;
   text-align: left;
   margin: auto;
}

.main {
   min-height: 300px;
}

/* ------------------------------------------------------- */
/* Single Posts for index.html slider */
/* Also reused on posts.html */

.slide-post {
   min-width: 330px;
   max-width: 600px;
   background-color: var(--black-color);
   color: var(--white-color);
   height: 600px;
   /* height: 750px; */
}

.slide-post__link {
   display: block;
   height: 100%;
   justify-content: space-between;
}

.slide-post__link:hover {
   box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.247);
}

.slide-post__img {
   width: 100%;
   height: 40%;
   object-fit: cover;
}

.slide-post__description {
   justify-content: space-between;
   padding: 0px 20px;
   height: 54%;
}

.slide-post__title {
   display: flex;
   align-items: center;
   height: 44%;
   /* height: 47%; */
   border-bottom: 2px solid white;
}

.slide-post__title,
.slide-post__read-more {
   color: var(--yellow-color);
}

.slide-post__read-more {
   box-shadow: 0 3px 0 var(--yellow-color);
   padding-bottom: 4px;
}

.slide-post__read-more:hover,
.slide-post__read-more:focus,
.slide-post__link:hover .slide-post__read-more {
   color: var(--white-color);
   box-shadow: 0 3px 0 var(--white-color);
}

.slide-post__content {
   height: 100px;
}

.hide-post {
   visibility: hidden;
}

/* ------------------------------------------------------- */

/* Media Queries */

@media (min-width: 740px) {
   .header-nav {
      position: static;
      padding-left: 90px;
      justify-content: flex-start;
      align-items: center;
      background-color: var(--white-color);
      height: auto;
   }

   .header-logo {
      min-width: 230px;
      background-color: var(--black-color);
      color: var(--white-color);
   }

   .header-nav__link {
      color: var(--black-color);
      font-size: var(--font-p2);
   }

   .header-nav__link:hover {
      box-shadow: 0 5px 0 var(--black-color);
   }

   .header-menu-btn {
      display: none;
   }

   .header-nav__list {
      display: flex;
      gap: 50px;
   }

   .close-menu-btn {
      display: none;
   }

   .hide-class {
      display: block;
   }
   .slide-post {
      height: 700px;
   }

   .slide-post__title {
      height: 40%;
      padding-bottom: 13px;
   }

   .slide-post__description {
      height: 55%;
   }
}
