/* Posts page styles */

.slide-post {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-width: 300px;
   max-width: 600px;
   background-color: var(--black-color);
   color: var(--white-color);
}

.slide-post__link:hover {
   box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.247);
}

.slide-post__img {
   width: 100%;
   object-fit: cover;
}

.slide-post__description {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
   padding: 20px 20px 30px 20px;
   height: fit-content;
}

.slide-post__title,
.slide-post__read-more {
   color: var(--yellow-color);
}

.slide-post__read-more {
   box-shadow: 0 3px 0 var(--yellow-color);
   padding-bottom: 4px;
}

.slide-post__read-more:hover,
.slide-post__read-more:focus,
.slide-post__link:hover .slide-post__read-more {
   color: var(--white-color);
   box-shadow: 0 3px 0 var(--white-color);
}

.slide-post__content {
   height: 100px;
}

.hide-post {
   visibility: hidden;
}
/* ------------------------------------------------------- */
/* More Post Button */

.diamond-icon__more-posts {
   color: var(--black-color);
   transform: rotate(-45deg);
   cursor: pointer;
}

.diamond-icon__more-posts:hover,
.diamond-icon--yellow:hover .diamond-icon__more-posts {
   color: var(--yellow-color);
}
