/* Posts page styles */

.post {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-width: 300px;
   max-width: 600px;
   background-color: var(--black-color);
   color: var(--white-color);
}

.post__img {
   width: 100%;
   max-height: 350px;
   object-fit: cover;
}

.post__description {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   padding: 0 20px 30px 20px;
}

.post__title,
.post__link {
   color: var(--yellow-color);
}

.post__link {
   box-shadow: 0 3px 0 var(--yellow-color);
   padding-bottom: 4px;
}

.post__link:hover,
.post__link:focus {
   color: var(--white-color);
   box-shadow: 0 3px 0 var(--white-color);
}

/* ------------------------------------------------------- */
/* More Post Button */

.diamond-icon__more-posts {
   color: var(--black-color);
   transform: rotate(-45deg);
   cursor: pointer;
}

.diamond-icon__more-posts:hover {
   color: var(--yellow-color);
}
