/* ------------------------------------------------------- */
/* More Post Button */

.diamond-icon__more-posts {
   color: var(--black-color);
   transform: rotate(-45deg);
   cursor: pointer;
}

.diamond-icon__more-posts:hover,
.diamond-icon--yellow:hover .diamond-icon__more-posts {
   color: var(--yellow-color);
}
