@font-face {
   font-family: "Jost";
   src: url("../fonts/Jost-VariableFont_wght.ttf");
}

* {
   /* Css reset */
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

body {
   font-family: "Jost", sans-serif;
   font-variation-settings: "wght" 500;
   background-color: var(--white-color);
}

ul {
   padding: 0;
}

li {
   padding: 5px 0;
   font-size: var(--font-p2);
}

li,
p {
   line-height: 2em;
   font-size: var(--font-p2);
}

a {
   color: var(--white-color);
}

h1 {
   font-size: var(--font-h1);
}

h2 {
   font-size: var(--font-h2);
}

h3 {
   font-size: var(--font-h3);
}

button {
   border: none;
}
