.about-section {
   align-items: center;
   justify-content: center;
   height: 700px;
}

.about-section__wrapper {
   height: 80vh;
}

.about-img-wrapper {
   height: auto;
   width: 200px;
}
.about-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 100%;
}

.about-wrapper {
   width: auto;
}

@media (min-width: 770px) {
   .about-section {
      height: 500px;
   }

   .about-wrapper {
      width: 70%;
   }
   .diamond-icon-wrapper--left {
      left: -260px;
   }
}
