.diamond-icon--yellow {
   background-color: var(--yellow-color);
}

.diamond-icon--yellow:hover {
   background-color: var(--black-color);
}

.diamond-icon--white {
   background-color: var(--white-color);
}

.next-post-btn--previous {
   background-color: var(--white-color);
   border: 1px solid black;
   color: var(--black-color);
}

.content-container--800 {
   max-width: 800px;
}
